@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

body {
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-weight: 600;
  font-size: 22px;
}

.navbar.navbar-dark {
  background: #0075C4;
  box-shadow: rgba(0,0,0,.05) 0 12px 40px 0;
}

.title {
  color: #fff;
  font-weight: 600;
  margin-left: 5px;
  font-size: 22px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(255,255,255,.4);
}